<h1>Shopping Cart</h1>
<table width="680px" cellspacing="0" cellpadding="5">
  <tr bgcolor="#ddd">
    <th width="180" align="left">Description</th>
    <th width="100" align="center">Quantity</th>
    <th width="60" align="right">Price</th>
    <th width="60" align="right">Total</th>
    <th width="90"></th>

  </tr>

  <% @cart.line_items.each do |line_item| %>
      <%= form_for line_item do |form| %>
          <tr>
            <td><%= line_item.product.name %>
            </td>
            <td align="center">
              <%= form.text_field :quantity, style: "width: 20px; text-align: right" %> </td>
            <td align="right"><%= number_to_currency line_item.price %></td>
            <td align="right"><%= number_to_currency line_item.total %></td>
            <td align="center">

              <%= form.submit "Update" %>
            </td>
          </tr>
      <% end %>
  <% end %>
  <tr>
    <td colspan="4" style="text-align: right"><%= number_to_currency @cart.total %></td>
    <td></td>
  </tr>
</table>
<div style="float:right; width: 215px; margin-top: 20px;">

  <p><%= link_to "Proceed to checkout", new_order_path %></p>

  <p><a href="javascript:history.back()">Continue shopping</a></p>

</div>
